@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
#main-div {
    background-color: aquamarine;
    height: 100vh;
    font-family: 'Roboto';
}

#password {
    margin: 10px;
    width: 50%;
    height:30px;
}


#emailId {
    width: 50%;  
    margin: 10px;
    height:30px;
}

#mobile {
    width: 50%;
    margin: 10px;
    height:30px;
}

#submit {
    margin: 10px;
}

#heading {
    padding-left: 10px;
    text-align: left;
}
.l1 {
    margin: 10px;
}