<div id="heading">
    <h1>Product List</h1>
</div>
<hr>
<div>
    <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
      </nav> 
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>     
</div>
<!-- <div class="mid">
    <p>This is mid text</p>
</div> -->
<div class="product-list-wrapper" >
  <h2>Our products</h2>
  <div class="row" >
    <div class="col-sm-3" *ngFor="let product of products">
      <div class="product-item">
        <img src="{{ product.images[0] }}" height="20%" width="20%" alt="iphone">
      <div class="product-details">
        <h6 class="name-head">
          {{ product.title }}
        </h6>
        <div class="product-price">
          <h6>Price : {{ product.price }}</h6>
        </div>
        <div class="product-discount">
          <h6>Discount : {{ product.discountPercentage }}%</h6>
        </div>
        <div class="buttons">
        <div class="view-detail">
          <button class="detail" type="button" routerLink="/product-details" (click)="onClick(product)">
            View Details
          </button>
        </div>
        <div class="view-discount">
          <button class="discount" type="button" (click)="showFooter(product)">
            View Discount
          </button>
        </div>
      </div>
      </div>
      </div>
    </div>
    

  </div>
</div>

<!-- <div *ngFor="let product of products">
  <mat-card>
    <mat-card-title> {{ product.title }} </mat-card-title>
    <mat-card-content>
      <p> {{ product.description }} </p>
    </mat-card-content>
  </mat-card>
  {{ product.title }}
</div> -->
<!-- <footer class="bg-light text-center text-lg-start" id="footer">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <h3><p>Discounted Price: </p></h3>
  </div>
</footer> -->
<app-footer *ngIf="displayFooter"></app-footer>
<router-outlet></router-outlet>


